<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/head"></th:block>
<body>
	<!-- Page Wrapper -->
	<div id="wrapper">
		<th:block th:include="fragments/sidebar"></th:block>
		<!-- Main Panel -->
		<div class="main-panel">
			<th:block th:include="fragments/navbar"></th:block>
			<!-- Begin Page Content -->
			<div class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="header">
									<h4 th:text="${book.name}" class="title">Edit Book</h4>
									<p class="category">Details</p>
								</div>
								<div class="content">
									<th:block th:each="author : ${book.author}">
										<p th:text="${author.name}"></p>
									</th:block>
									<p th:text="${book.year}"></p>
									<p th:text="${book.description}"></p>
									<th:block th:each="category : ${book.category}">
										<p th:text="${category.name}"></p>
									</th:block>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /.container-fluid -->
			</div>
			<!-- /.content -->
		</div>
		<!-- End of Main Panel -->
		<th:block th:include="fragments/footer"></th:block>
	</div>
	<th:block th:include="fragments/scripts"></th:block>
</body>
</html>