<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/head"></th:block>
<body>
	<!-- Page Wrapper -->
	<div id="wrapper">
		<th:block th:include="fragments/sidebar"></th:block>
		<!-- Main Panel -->
		<div class="main-panel">
			<th:block th:include="fragments/navbar"></th:block>
			<!-- Begin Page Content -->
			<div class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="header">
									<h4 class="title">User</h4>
									<p class="category">shows all available</p>
								</div>
								<p>
									<label th:text="'Hello: '+ ${session.USERNAME}"></label><a
										href="logout">Logout</a>
								</p>
								<div class="content table-responsive table-full-width">
									<table class="table table-striped">
										<thead>
											<th>Email</th>
											<th>Password</th>
											<th>Create Day</th>
											<th>End Day</th>
											<th>Role</th>
											<th>Status</th>
											<th></th>
											<th></th>
										</thead>
										<tbody>
											<tr th:each="item: ${USERS}">
												<td th:text="${item.email}"></td>
												<td th:text="${item.password}"></td>
												<td th:text="${item.createDay}"></td>
												<td th:text="${item.endDay}"></td>
												<td th:text="${item.status}"></td>
												<td><a
													th:href="@{'/backend/user/edit/' + ${item.email}}"
													class="btn btn-default">Edit</a></td>
												<td><a
													th:href="@{'/backend/usery/delete/' + ${item.email}}"
													class="btn btn-danger">Delete</a></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<!-- /.container-fluid -->
						</div>
						<!-- /.content -->
					</div>
					<!-- End of Main Panel -->
					<th:block th:include="fragments/footer"></th:block>
				</div>
				<th:block th:include="fragments/scripts"></th:block>
</body>
</html>