<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/head"></th:block>
<body>
	<!-- Page Wrapper -->
	<div id="wrapper">
		<th:block th:include="fragments/sidebar"></th:block>
		<!-- Main Panel -->
		<div class="main-panel">
			<th:block th:include="fragments/navbar"></th:block>
			<!-- Begin Page Content -->
			<div class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
							<div class="card">
							<p>
									<label th:text="'Hello: '+ ${session.Email}"></label><a
										href="logout">Logout</a>
								</p>
								<div class="header col-md-6">
									<h4 class="title">Publishing Company</h4>
									<p class="category">shows all available Publishing Company</p>
								</div>
								<form style="margin-bottom: 20px; float: right;"
									class="header col-md-6" th:action="@{/backend/reader/find}">
									<div class="form-inline">
										<div>
											<input class="form-control" id="inputPassword2" type="text"
												name="name" placeholder="Name"> <input
												class="btn btn-primary" type="submit" value="Find">
										</div>
									</div>
								</form>
								<div class="content table-responsive table-full-width">
									<table class="table table-striped">
										<thead>
											<tr>
												<th>ID</th>
												<th>Name</th>
												<th>&nbsp;</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="item: ${publishingCompanies}">
												<td th:text="${item.id}"></td>
												<td th:text="${item.name}"></td>
												<td><a
													th:href="@{'/backend/publishingCompany/edit/' + ${item.id}}"
													class="btn btn-default">Edit</a> <a
													th:href="@{'/backend/publishingCompany/delete/' + ${item.id}} "
													class="btn btn-danger">Delete</a></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<!-- /.container-fluid -->
						</div>
						<!-- /.content -->
					</div>
					<!-- End of Main Panel -->
					<th:block th:include="fragments/footer"></th:block>
				</div>
				<th:block th:include="fragments/scripts"></th:block>
			</div>
		</div>
	</div>

</body>
</html>
</body>
</html>